
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');


.container{
	background-color: #2098d1;
}

.header{
	position: relative;
	width:100%;
	display: block;
	margin: 0 auto;
}
.header::before{
	content: "";
	display: table;
}

.header::after{
	content: "";
	display: table;
	clear:both;
}


.logo{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	color: white;
	padding:10px 0px;
}

.logo_description{
	float:left;
	margin-left: 3px;
	margin-top: 10px;
	position: relative;
	padding:10px 0px;
}


a{
	text-decoration: none;
}

.logo img{
	
	display: inline-block;
	height: 50px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	border-radius: 50%;
	background-size: cover;
}


.logo_description h1
{
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 0.7em;
	font-weight: 900;
	padding: 15px 8px 0px 8px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.logo_description h2
{
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	line-height: 15px;
	padding: 3px 8px 10px 8px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.nav{
	margin-right: 80px;
	margin-top: 10px;
	float: right;
	display: block;
	position: relative;
	padding:10px 0px;
	top:10px;

}
.nav ul{
	display: inline-block;
}
.nav ul li{
	display: inline-block;
	width: auto;

}

.nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	color:white;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 600;
	font-size: 0.8em;
	padding: 8px 10px;
	letter-spacing: -1px;

}
