
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

.container{
	background-color: #2098d1;
	clear: both;
}

.nav{
	width:100%;
	display: block;
}
.nav::before{
	content: "";
	display: table;
}

.nav::after{
	content: "";
	display: table;
	clear:both;
}


.logo{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	color: white;
}

.logo_description{
	float:left;
	margin-left: 3px;
	margin-top: 10px;
}


a{
	text-decoration: none;
}

.logo img{
	
	display: inline-block;
	height: 50px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	border-radius: 50%;
	background-size: cover;
}


.logo_description h1
{
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 0.7em;
	font-weight: 900;
	padding: 15px 8px 0px 8px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.logo_description h2
{
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	line-height: 15px;
	padding: 3px 8px 10px 8px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;
}
